body, html{
    height: 100%;
}


.Imagemfundo {
    filter: brightness(50%);
    height: 100vh;
    background-image: url('../../Images/Login/imagemDeFundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    
  }


  .formLogin{
      height: 400px;
      width: 350px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .logo{
    width: 100%;
    height: 45%;
  }

  .logoBorder{
      position: fixed;
      width: 150px;
      height: 150px;
      background-color:rgba(0, 0, 0, 0.5);
      left: 50%;
      transform: translate(-50%);
      border-radius: 100%;
      border: 100px;
      border: 3px solid white;
  }

  .logoImg{
    position: fixed;
    width: 110px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
  }

  .logoTexto{
      color: white;
      font-size: 10px;
      letter-spacing: 3.6px;
      font-weight:bold;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-48%, 150%);
  }

  .inputs{
      
      width: 100%;
      display: block;
    }

  .usernameInput, .passwordInput, .submitBtn{
      margin: 3% auto;
      width: 55%;
      display: block;
      height: 30px;
  }

  .usernameInput{
      background-image: url('../../Images/Login/userPlaceholderImg.png');
      background-size:contain;
      background-repeat: no-repeat;
      text-indent: 30px;
  }

  .passwordInput{
    background-image: url('../../Images/Login/keyPlaceholderImg.png');
    background-size:contain;
    background-repeat: no-repeat;
    text-indent: 30px;
}

  .usernameInput:focus, .passwordInput:focus{
    outline: none;
  }

  .usernameInput:focus::placeholder, .passwordInput:focus::placeholder{
      color: transparent;
  }

  .submitBtn{
      background-color: #f67a22;
      border: none;
      font-size:15px;
      color: white;
      font-weight: bold;
      width: 57%;
  }

  .balaoAviso{
    position: absolute;
    transform: translateX(-50%);
    height: 90px;
    width: 300px;
    top: -29%;
    left: 50%;
    background-color: #f8f8f8;
    border-radius: 10px;
  }
  .balaoAviso::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    border-top: 20px solid #f8f8f8;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  .parteEsquerda, .parteDireita{
    display: inline-block;
    width: 50%;
    vertical-align:top;
    }
  .parteEsquerda{
      color: #f67a22;
      text-align: center;
 
  }

  
    .parteEsquerda :nth-child(1){
        font-size: 50px;
        text-align: center;
        font-weight: bold;
    
    }

    .parteEsquerda :nth-child(2){
        font-size: 10px;
        font-weight: bold;
        display: inline-block;
        width: 100%;
    }

    .parteDireita :nth-child(1){
        color:rgb(119, 117, 117);
        font-size: 12px;
        line-height:120%;
        font-style: italic;
        width: 80%;
    }

    @media (max-width: 700px){
        .balaoAviso{
          
            width: 250px;
           
          }
    }

    @media (max-height: 700px){
        .formLogin{
          
            top: 65%;
            
        }
    }

    @media (min-height: 1024px){
        .logoImg{
            width: 220px;
   
          }

          .logoBorder{
            position: fixed;
            width: 300px;
            height: 300px;
          
        }

        
        .logoTexto{
          
            font-size: 15px;
            letter-spacing: 10px;
            
        }

        
        .inputs{
            margin-top: 50%;
        
        }

        .usernameInput, .passwordInput, .submitBtn{
            font-size: 30px;
            width: 80%;
            display: block;
            height: 40px;
            
        }

        .usernameInput, .passwordInput{
            text-indent: 50px;
        }

        .balaoAviso{
         
            height: 180px;
            width: 600px;
            top: -60%;
          }

          .balaoAviso::before {
            border-top: 40px solid #f8f8f8;
            border-left: 40px solid transparent;
            border-right: 40px solid transparent;
          }

            
    .parteEsquerda :nth-child(1){
        font-size: 100px;
      
    
    }

    .parteEsquerda :nth-child(2){
        font-size: 25px;
     
    }

    .parteDireita :nth-child(1){
      
        font-size: 24px;
 
    }
}

  
