

.mainHeaderBackground{
    background-color: #393939;
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.mainLogo, .mainInputDiv, .mainMenu{
    
    display: inline-block;
    height: 80px;
    flex:1;
  
}

.mainLogoImg{
   
    
    position: relative;
    top: 50%;
    height:160px;
    width: 300px;
    transform: translateY(-50%);
    background-image: url('../../Images/Main/logo.png');
    background-size: contain;
    background-repeat: no-repeat;


}

.mainHeaderInput{
    width : 98.5%;
    position: relative;
    top: 50%;
    height: 50%;
    transform: translateY(-50%);

    background-image: url('../../Images/Main/lupa.png');
    background-size:40px;
    background-repeat: no-repeat;
    background-position: right;
   
}

.mainHeaderInput:focus{
    outline: none;
    text-indent: 10px;
}

.mainHeaderInput::placeholder{
    font-style: italic;
     text-indent: 10px;
}

.mainMenu{
    display: flex; 
    justify-content: flex-end;

}

.mainMenuItem{
    width: 100px;

}

.mainMenuItemImagem{
    width : 40%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    
}

.mainMenuTexto{
    font-weight:bold;
    text-align:center;
    transform: translateY(-40%);
}

.mainSubHeader{
    border-bottom: 3px solid rgb(240, 240, 240);
}

.mainSubHeaderTexto{
    margin-left: 2%;
    font-weight: bold;
}
 

.mainHeaderInput{

    background-image: url('../../Images/Main/lupa.png');
   
}

.mainImageDiv{
    display: inline-block;  
    position:relative;
    top: 50%;
    margin-left: 1%;
    width:200px;
    height: 200px;
    background-image: url('../../Images/Main/arroz.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.mainCard{
    margin-top: 1%;
    border-bottom: 3px solid rgb(240, 240, 240);
 }
.mainCardPart1{
    display: inline-block;
    width: 80%;
}

.mainCardPart2{
    display: inline-block;
    width: 20%;
    text-align: right;
}


.mainCardInfo{
    position: relative;
    top:50%;
    display: inline-block;
    width: 50%;
    transform: translateY(-50%);
   margin-left: 2%;
    
}


.mainCardRadius{
    display: inline-block;
    margin-right: 4%;
    transform: translateY(-65%);

}

.mainCardTime{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-color: #efefef;
    color: rgb(145, 145, 145);

}

.mainCardButton{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #fa771d;
    color: white;
    cursor: pointer;

}

.mainCardFinalizado{
    height: 100px;
    width: 100px;
    color: #5ad314;
}

@media (max-width: 1704px){
    .mainCardTime{
        border-radius: 100%;
        height: 80px;
        width: 80px;
        background-color: #efefef;
        color: rgb(145, 145, 145);
    
    }
    
    .mainCardButton{
        height: 80px;
        width: 80px;
        border-radius: 100%;
        background-color: #fa771d;
        color: white;
        cursor: pointer;
    
    }
    
    .mainCardFinalizado{
        height: 80px;
        width: 80px;
        color: #5ad314;
    }
   

}

@media (max-width: 1363px){
    .mainCardTime{
        border-radius: 100%;
        height: 70px;
        width: 70px;
        background-color: #efefef;
        color: rgb(145, 145, 145);
    
    }
    
    .mainCardButton{
        height: 70px;
        width: 70px;
        cursor: pointer;
    
    }
    .mainCardFinalizado{
        height: 70px;
        width: 70px;
        color: #5ad314;
    }
}


@media (max-width: 1190px){
  .mainCardPart1{
      width: 70%;
  }
  .mainCardPart2{
      width: 30%;
  }
}


@media (max-width: 1066px){
        
    .mainCardInfo{
       vertical-align: middle;
        
    }
  }

@media (max-width: 880px) {

    .mainCard{
       height:370px; 
    }
    .mainCardPart1{
        width: 100%;
    }

    .mainCardPart2{
        text-align: center;
        width: 100%;
    
    }

  
}

@media (max-width: 718px) {
    .mainCardInfo{
        vertical-align: -420%;
    }
}

@media (max-width:549px) {
    .mainCardInfo{
        vertical-align: -550%;
    }
}

@media (max-width:500px){
    .mainCard{
        height: auto;
    }
    .mainImageDiv{
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
    .mainCardInfo{
        width: 100%;
        position: relative;
        margin-top: 20%;
        text-align: center;
    }
}

@media (max-width:300px){
   
    .mainCardInfo{
        width: 80%;
        position: relative;
        margin-top: 40%;
        text-align: center;
    }
}


@media (max-width:960px) {
    .mainLogoImg{
        display: none;
    
    }
    .mainHeaderInput{
        width : 150.5%;
        transform: translate(-50%,-50%);
       
    }
    
}
