.emPreparoImgDaReceita{
    position:relative;
    background-image: url('../../Images/Main/arroz.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 500px;
    margin: 0 auto;
    width: 650px;
    display: flex;
    box-shadow: 0 -200px 150px -30px black inset; 

}

.emPreparoNomeEDescricao{

    color: white;
    width: 80%;    
    align-self: flex-end;
    margin: 4% 3%;

}

.emPreparoVoltar{
    
    position: absolute;
    height: 100px;
    width: 100px;
    display: flex;
    cursor: pointer;
}

.emPreparoArrow{
    width: 30px;
    height: 20px;
    margin: 40% 10%;
  
}

.emPreparoVolarTexto{
    color: white;
    width: 50px;
    height: 40px;
    font-weight: bold;
    font-size: 19px;
    margin: 35% 0%;
    display: flex;
}


.emPreparoTempo{
    position:absolute;
    left: 100%;
    transform: translateX(-100%);
    width: 245px;
    height:80px;
    margin:2% -1%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    
}

.emPreparoRelogioIcone{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    margin-left: 1%;
    width: 65px;
    height: 65px;
    background-image: url('../../Images/emPreparoDetalhe/relogio.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.emPreparoTempoTextos{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    margin-left: 1%;
    width: 170px;
    height: 70px;
}

.emPreparoTempoTexto1{
    font-size: 18px;
    margin: 1% 5%;
}


.emPreparoTempoTexto2{
    font-size: 20px;
    font-weight: bolder;
    margin: 0% 6%;
}

.emPreparoReceita{
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 500px;  
    display: flex;
    flex-wrap: wrap;
}
.emPreparoIngredientes{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    background-color: #fafafa;
}

.emPreparoIngredientCard{
    text-align: center;
    display: flex;
    width: 100%;
    margin: 1% auto;
}

.emPreparoCheckBoxIngredientes{
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 100%;
    margin-right: 2%;
}

.emPreparoIngredientesTitulo{
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10%;
}

.emPreparoIngredientesNome{
    
   position: relative;
   top:-21%;
   font-weight: bold;
   color: rgb(88, 88, 88);
   text-align: left;
}

.emPreparoModo{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    background-color: #ffffff;
}

.emPreparoCheckBoxModo{
    width: 30%;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 100%;
    margin-right: 2%;
    display: inline-block;
}

.emPreparoIngredientesModoNome{
    text-align: left;
    margin-left: 5%;
    position: relative;
    top:-21%;
    font-weight: bold;
   
 }

 .emPreparoIngredientesModoNomeDescription{
    text-align: left;
    margin-left: 5%;
    position: relative;
    top:-21%;
    font-weight: bold;
    color: rgb(88, 88, 88);
 }


 .emPreparoFooter{
     background-color: #f2f0f1;
     height: 80px;
     width: 100%;
 }

 .emPreparoSubFooter{   
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    height: 60px;
 }

 .emPreparoSubFooterPart1{
     width: 50%;
     height: 60px;
     display: inline-block;
     text-align: start;
 }

 
 .emPreparoSubFooterPart2{
    width: 50%;
    height: 50%;
    display: inline-block;
    text-align: end;
}

.emPreparoSubFooterButton{
    width: 60%;
    height: 40px;
    margin-right: 5%;
    margin-top: 3%;
    font-weight: bold;
    color: white;
    background-color: #f7791a;
    font-size: 15px;
    border:none;
    
}

.progressBarEmpty{
    width: 100%;
    background-color: white;
    height: 10px;
}

.progressBarPercentage{
    background-color: #f7791a;
    height: 10px;
}

.emPreparoModoNome{
    width: 90%;
}

@media (max-width: 700px){


.emPreparoModoNome{
    width: 90%;
}

.emPreparoCheckBoxIngredientes{
    display: inline-block;
    margin-left: 5%;
}
   
 .emPreparoSubFooter{   
  
    width: 90%;
    
  
 }

 .emPreparoModo{
  
    width: 100vw;
   
}

.emPreparoModo{
    width: 100vw;
   
}
.emPreparoIngredientes{
    
    width: 100vw;
    background-color: #fafafa;
}

.emPreparoImgDaReceita{
    width: 100vw;

}

.emPreparoIngredientCard{
    margin: 1% 0%;
}
.emPreparoIngredientesTitulo{
    margin-left: 1%;
    width: 80%;
}
}

@media (max-width: 700px){
   


 .emPreparoModo{
  
    width: 100%;
   
}

.emPreparoIngredientes{
    
    width: 100%;
    background-color: #fafafa;
}

.emPreparoImgDaReceita{
    width: 100%;

}

.emPreparoIngredientesTitulo{
  
    width: 80%;
}
}